django
psycopg[binary]
django-ninja
django-taggit
django-simple-history
djangorestframework
git+https://github.com/WHOIGit/amplify-storage-utils
git+https://github.com/WHOIGit/amplify-amqp-utils
#requests  # for testing s3 presigned urls
