<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Amplify Mediastore</title>
</head>
<body>
<pre>
░█████╗░███╗░░░███╗██████╗░██╗░░░░░██╗███████╗██╗░░░██╗
██╔══██╗████╗░████║██╔══██╗██║░░░░░██║██╔════╝╚██╗░██╔╝
███████║██╔████╔██║██████╔╝██║░░░░░██║█████╗░░░╚████╔╝░
██╔══██║██║╚██╔╝██║██╔═══╝░██║░░░░░██║██╔══╝░░░░╚██╔╝░░
██║░░██║██║░╚═╝░██║██║░░░░░███████╗██║██║░░░░░░░░██║░░░
╚═╝░░╚═╝╚═╝░░░░░╚═╝╚═╝░░░░░╚══════╝╚═╝╚═╝░░░░░░░░╚═╝░░░

███╗░░░███╗███████╗██████╗░██╗░█████╗░░██████╗████████╗░█████╗░██████╗░███████╗
████╗░████║██╔════╝██╔══██╗██║██╔══██╗██╔════╝╚══██╔══╝██╔══██╗██╔══██╗██╔════╝
██╔████╔██║█████╗░░██║░░██║██║███████║╚█████╗░░░░██║░░░██║░░██║██████╔╝█████╗░░
██║╚██╔╝██║██╔══╝░░██║░░██║██║██╔══██║░╚═══██╗░░░██║░░░██║░░██║██╔══██╗██╔══╝░░
██║░╚═╝░██║███████╗██████╔╝██║██║░░██║██████╔╝░░░██║░░░╚█████╔╝██║░░██║███████╗
╚═╝░░░░░╚═╝╚══════╝╚═════╝░╚═╝╚═╝░░╚═╝╚═════╝░░░░╚═╝░░░░╚════╝░╚═╝░░╚═╝╚══════╝
</pre>
</body>
</html>